#Titulo {
  width: 100%;
}

#Titulo {
  height: 150px;
  background-color: #836FFF;
  font-size: 80pt;
  text-align: center;
  color: #0000FF;
  border: 2px solid #000000;
}


#menu {
  background-color: #FF4040;
  border: 2px solid #000000;
}

#menu ul {
  margin: 0px;
}

.item_menu {
  display: inline-block;
  padding: 10px;

}

.item_menu a:link {
  color: #000000;
  text-decoration: none;
}

.item_menu a:visited {
  color:#000000;
  text-decoration: none;
}

.item_menu:hover {
  background-color: #FFFAF0;
}

.item_menu:hover a{
  color: #40E0D0;
  text-decoration: none;
}

#C1 {
  font-size: 14pt;
  margin-left: center;
  margin-right: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  background-color:#DA70D6;
  border: 2px solid #000000;
}

#C2 {
  font-size: 16pt;
  margin-left: center;
  margin-right: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  background-color:#70DB93;
  border: 2px solid #000000;
  padding: 0px;
}

.table { border: 2px solid #000000;
  background-color: #33CCFF;}
.table:hover {
  background-color: #66FFFF;
  padding: 0px
}

#rodapepr {
  width: 100%;
  border: 2px solid #000000;
  overflow: hidden;
  background-color:#ddddee;
  padding: 20px;
}

#rodape1 {
  background-color: #ddddee;
  float:left;
  width: 50%;
    padding: 0px;

}
#rodape2 {
  background-color: #ddddee;
  float:left;
  width: 50%;
  padding: 0px;
}

#biblioteca {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Lbiblioteca {
  display: inline-block;;
  width: 150px;
  border: 1px solid #bbbbcc;
  background-color: #ddddee;
  margin: 10px;
  padding: 10px;
}

.Lbiblioteca img {
  height: 200px;
}
