#Titulo {
  width: 100%;
}

#Titulo {
  height: 150px;
  background-color: #836FFF;
  font-size: 80pt;
  text-align: center;
  color: #0000FF;
  border: 2px solid #000000;
}


#menu {
  background-color: #FF4040;
  border: 2px solid #000000;
}

#menu ul {
  margin: 0px;
}

.item_menu {
  display: inline-block;
  padding: 10px;

}

.item_menu a:link {
  color: #000000;
  text-decoration: none;
}

.item_menu a:visited {
  color:#000000;
  text-decoration: none;
}

.item_menu:hover {
  background-color: #FFFAF0;
}

.item_menu:hover a{
  color: #40E0D0;
  text-decoration: none;
}

#C1 {
  font-size: 14pt;
  margin-left: center;
  margin-right: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  background-color:#DA70D6;
  border: 2px solid #000000;
}

esquerda {
  padding: 20px;
  width: 20%;
  margin: 25px;
  vertical-align: top;
}

#esquerda ul li {
  margin-top: 25px;
}
#left {
  font-size: 14pt;
  margin-left: center;
  margin-right: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  background-color:#DA70D6;
  border: 2px solid #000000;
  position: absolute;
  padding: 200px;
}
